<!DOCTYPE html>
<html>
<head>
  <title>Add Expense</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h2>Add Expense</h2>

<form action="/save" method="post">

  <input type="text" name="title" placeholder="Title" required>

  <input type="number" name="amount" placeholder="Amount" required>

  <input type="text" name="category" placeholder="Category" required>


  <input type="date" name="date" placeholder="Date" required>

  <button type="submit">Save</button>

</form>

</body>
</html>