<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h2>Smart Expense Tracker</h2>

<!-- Total Expense -->
<h3>Total Expense: ₹ <span th:text="${total}"></span></h3>

<!-- Buttons -->
<a href="/add" class="btn">+ Add Expense</a>
<a href="/category" class="btn">Category Wise Expense</a>

<br><br>

<!-- Expense Table -->
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Date</th>
        <th>Action</th>
    </tr>

    <tr th:each="e : ${expenses}">
        <td th:text="${e.id}"></td>
        <td th:text="${e.title}"></td>
        <td th:text="${e.amount}"></td>
        <td th:text="${e.category}"></td>
        <td th:text="${e.date}"></td>
        <td>
            <a th:href="@{'/edit/' + ${e.id}}" class="btn">Edit</a>
            <a th:href="@{'/delete/' + ${e.id}}" class="delete-btn">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>